/*--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
html, body{
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 100%;
	background: #ffffff;
}
@font-face {
   font-family: 'PoiretOne-Regular';
   src: url(../fonts/PoiretOne-Regular.ttf)format('truetype');
}
a:hover{
 text-decoration:none;
}
input[type="button"],input[type="submit"],li.parallelogram{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;	
 font-family: 'Italianno', cursive;
}	
p{
	margin:0;
	font-family: 'Merriweather Sans', sans-serif;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*-- header --*/
.banner {
    background: url(../images/banner.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height:800px;
	position:relative;
}
.down {
      position: absolute;
    left: 46%;
    top: 92%;

}
/*--head-top--*/
.logo{
  float:left;
}
.phone {
    float: right;
}
.logo a{
 display:block;
}
.logo a h1 {
    font-weight: bold;
    font-size: 4.5em;
    color: #EFA52C;
    text-transform: uppercase;
}
.logo a span {
    color: #fff;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 0.3em;
    font-weight: bold;
}
.logo p {
    font-size: 0.8em;
    color: #EFA52C;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 0;
    margin: -9px 0 12px 0;
}
/*--header--*/
/*-- sticky-nav --*/
.header-bottom {
   padding: 0.5em 0em;
    background-color:none;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.fixed{
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0 auto;
	left:0%;
	z-index:9999;
	  background-color: rgba(0, 0, 0, 0.59);
}
/*-- sticky-nav --*/
.top-menu {
    float: right;
    margin-top: 2.2em;
}
.top-menu ul{
	margin:0;
	padding:0;
}
.top-menu li {		
	text-transform:uppercase;
	display:inline-block;
}
.top-menu li a{
	color:#FFFFFF;
	text-decoration:none;
	display:block;
	padding:0;
	font-weight:400;
	font-size:1em;
}	
.top-menu li a.active{
  color: #fff200;
  }
/*-- nav-hover --*/
.link-effect-4 a {
  padding: 0 10px;
  margin:0 12px;
  color: #797878;
  text-shadow: none;
  position: relative;
}
.link-effect-4 a::before {
      position: absolute;
    top: 0;
    left: -10px;
    overflow: hidden;
    padding: 0 10px;
    max-height: 0;
    color:#EFA52C;
    content: attr(data-hover);
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    transition: max-height 0.5s;
}
.link-effect-4 a:hover::before {
  max-height: 100%;
}
/*-- //nav-hover --*/

@media only screen and (max-width :800px) {
	span.menu {
	  width: 35px;
	  height: 35px;
	  background: url(../images/nav.png)no-repeat 0px 0px;
	  display: inline-block;
	  float: right;
	  cursor: pointer;
	  margin: 32px 3px;
	}
	.top-menu {
		float: none;
		margin-top: 0em;
	}
	.top-menu  ul{
		display:none;
	}
	.top-menu  ul li {
		display:block;
		margin-right:0;
	}
	.top-menu  span.menu{
		display:block;
	}
	.top-menu ul {
		margin: 103px 0;
		padding: 2% 0;
		z-index: 999;
		position: absolute;
		width: 92%;
		background: #efa52c;
		text-align: center;
	}
	.top-menu li a {
	  padding: 0.5em;
	  font-weight: 400;
	  font-size:0.9em;
	  }
	.top-menu ul li a {
	  font-size: 0.9em;
	  display: inline-block;
	}
	.link-effect-4 a::before {
		position: absolute;
		top: 6px;
		left: -3px;
		overflow: hidden;
		padding: 0 10px;
		max-height: 0;
		color: #333;
	}
}
/*--slider--*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 82%;
  left: 0;
  opacity: 0.6;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  width:52px;
  height: 52px;
  background: transparent url("../images/arrows.png") no-repeat left top;
  margin-top: 4%;
}
 .callbacks_nav:hover{
  	opacity: 0.3;
  }
.callbacks_nav.next {
  left: auto;
    background-position: right top;
  left: 95.5%;
 }
 .callbacks_nav.prev {
	right: auto;
	background-position:left top;
	left: 91%;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display:none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  }
.callbacks_tabs{
    list-style: none;
    position: absolute;
    bottom: -8%;
    z-index: 999;
    left: 47%;
    padding: 0;
    margin: 0;
    display: block;
}
.slider-top span{
	font-weight:600;
}
.callbacks_tabs li{
  display: inline-block;
  margin: 0 .3em;
}
@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
    }
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
  font-size: 0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height: 15px;
  width: 15px;
  display: inline-block;
  background: #fff;
  border: 2px solid #fff;
  border-radius:50%;
  -webkit-border-radius:50%;
  -o-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
}
.callbacks_here a:after{
     background:#EFA52C;
    border: 2px solid #EFA52C;
}
.banner-info {
       padding: 5em 2em;
    margin: 10% auto 0;
    width: 47%;
    text-align: center;
       border: 2px solid #fff;
}
.banner-info h3 {
    font-size: 5em;
    font-weight: 400;
    color:#EFA52C;
	margin:0;
}
.banner-info p {
    color: #fff;
    font-size:3.3em;
	font-weight:bold;

}
.banner-info span {
    color: #EFA52C;
    letter-spacing: 4px;
    font-size: 0.9em;
}
.arrows{
	    position:relative;
		color:#EFA52C;
		font-size:2em;
}
.arrows:before{
      content: '';
    position: absolute;
    bottom: 48%;
    left: 22.5%;
    background: #fff;
    width: 22%;
    height: 3px;
}
.arrows:after{
     content: '';
    position: absolute;
  bottom: 48%;
    right: 22.5%;
    background: #fff;
     width: 22%;
    height: 3px;
}
/*--products--*/
#about {
    padding: 6em 0;
}
.arrows-two {
    position: relative;
    color: #EFA52C;
    font-size: 2em;
}
.arrows-two:before {
    content: '';
    position: absolute;
    bottom:42%;
    left: 22.5%;
    background: #333;
    width: 20%;
    height: 3px;
}

.arrows-two:after {
    content: '';
    position: absolute;
    bottom:42%;
    right: 22.5%;
    background: #333;
    width: 20%;
    height: 3px;
}
h3.tittle {
    font-size: 5em;
}
.ab-text {
    text-align: center;
	    margin-top: 2em;
}
.ab-text p {
    color: #777;
    line-height: 1.9em;
    font-size: 1em;
    margin: 1em 0;
}
.ab-left {
    float: left;
}
.ab-right {
    float:right;
}
.h-f {
    width: 49%;
    float: left;
    margin-right: 1%;
}
.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	    padding: 2em 0 0 0;
}
.hf-text {
  text-align: center;
  background-color: #fff;
  padding-bottom: 1em;
  }
.hf-text h5 {
 font-size: 2em;
    font-weight: 400;
    color: #011750;
    line-height: 1.8em;
}
.hf-text p{
      color: #D00030;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
}
/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  height: auto;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-errors: none;
}
.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}
.grid figure h4 {
	word-spacing: -0.15em;
	font-weight: 300;
}
.grid figure h4 span {
    font-weight: bold;
    color: #fff;
    margin-left: 12px;
}
.grid figure h4,
.grid figure p {
	margin: 0;
}
figure.effect-jazz {
    background: -webkit-linear-gradient(-65deg, #000 0%,#000 100%);
    background: linear-gradient(-65deg, #000 0%,#000 100%);
}

figure.effect-jazz img {
	opacity: 0.8;
}
figure.effect-jazz figcaption::after,
figure.effect-jazz img,
figure.effect-jazz p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
figure.effect-jazz figcaption::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	content: '';
	opacity: 0;
	-webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
	transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}
figure.effect-jazz h2,
figure.effect-jazz p {
	opacity:1;
	-webkit-transform: scale3d(0.8,0.8,1);
	transform: scale3d(0.8,0.8,1);
}
figure.effect-jazz h4 {
	    padding-top:20%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    color: #EFA52C;
    font-weight: bold;
    font-size:1.5em;
}
figure.effect-jazz p {
	    padding: 0em 2em;
    text-transform: none;
    font-size: 0.7em;
    opacity: 0;
    line-height: 1.8em;
}
figure.effect-jazz:hover img {
	opacity: 0.5;
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}
figure.effect-jazz:hover figcaption::after {
	opacity: 1;
	-webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
	transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
}
figure.effect-jazz:hover h4,
figure.effect-jazz:hover p {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}
.h-f {
    margin-bottom: 2em;
}
.h-f.one {
    margin-bottom:0em;
}
.start{
	text-align:center;
	margin-top: 1.5em;
}
.start a{
	padding: 15px 35px;
    background:#EFA52C;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
}
/* Bounce To Bottom */
.hvr-bounce-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
  color: white;
}
.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
/*--//products--*/
/*--services--*/
#services {
    background: #f7f7f7;
    padding:7em 0;
	text-align:center;
}
.inst-grids {
      margin: 3em 0 0 0;
}
.hi-icon-effect-9a .hi-icon:hover {
    box-shadow: 0 0 0 5px #EFA52C;
}
a.hi-icon img {
    margin: 22px 0 0;
}
.hi-icon-wrap {
    padding: 0;
}
.services-gd h4 {
    color: #EFA52C;
    font-size: 1.4em;
    text-transform: uppercase;
    line-height: 1.2em;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bold;
    margin: 0.5em 0;
}
.services-gd p {
    color: #777;
    line-height: 1.9em;
    font-size: 1em;
}
/*--team--*/
#team {
       padding: 6em 0;
	   text-align:center;
}
.s-1 h3,.s-2 h3,.s-3 h3,.s-1 h3,.s-2 h3,.s-4 h3{
	color: #EFA52C;
    font-size: 1.4em;
    text-transform: uppercase;
    line-height: 1.5em;
    padding-top: 16em;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bold;
}
.view {
  	width: 256px;
    height: 330px;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.view .mask,.view .content {
  	width: 282px;
	height: 330px;
	position: absolute;
	overflow: hidden;
	top: 0px;
	left: -12px;
}
.view h4 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background:none;
   font-weight:400;
   margin: 20px 16px;
   line-height: 1.6em;
   font-family: 'Merriweather Sans', sans-serif;
}
.view p {
  	font-size: 0.9em;
	position: relative;
	color: #FFF;
	padding: 20px 20px 0px 13px;
	text-align: center;
	line-height: 1.5em;
}
.view-fifth img {
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.view-fifth .mask {
  background-color:rgba(3, 9, 16, 0.67);
   -webkit-transform: translateX(-300px);
   -moz-transform: translateX(-300px);
   -o-transform: translateX(-300px);
   -ms-transform: translateX(-300px);
   transform: translateX(-300px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.view-fifth h4 {
   font-size: 20px;
    border-bottom: 1px solid #EFA52C;
    color: #fff;
    line-height: 1.5em;
    font-weight: 600;
}
.view-fifth p {
   color: #fff;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.view-fifth:hover .mask {
   -webkit-transform: translateX(0px);
   -moz-transform: translateX(0px);
   -o-transform: translateX(0px);
   -ms-transform: translateX(0px);
   transform: translateX(0px);
}
.view.view-fifth i {
    color: #fff;
    font-size: 4em;
	    padding-top: 0.8em;
}
.arrows-serve{
	    position:relative;
		color:#EFA52C;
		font-size:2em;
}
.arrows-serve:before{
    content: '';
    position: absolute;
    bottom: 43%;
    left: 35.5%;
    background: #333;
    width: 11%;
    height: 3px;
}
.arrows-serve:after{
     content: '';
    position: absolute;
  bottom: 43%;
    right: 35.5%;
    background: #333;
        width: 11%;
    height: 3px;
}
.arrows-serve.test{
	    position:relative;
		color:#EFA52C;
		font-size:2em;
}
.arrows-serve.test:before{
    content: '';
    position: absolute;
    bottom: 43%;
    left: 35.5%;
    background: #333;
    width:9%;
    height: 3px;
}
.arrows-serve.test:after{
     content: '';
    position: absolute;
  bottom: 43%;
    right: 35.5%;
    background: #333;
        width:9%;
    height: 3px;
}
.box2 {
    margin-top: 3em;
}
/*--/review--*/
#review {
    background: #f7f7f7;
}
h3.title,h2.title.review {
	  color:#5DD28F;
}
.test-monials h5{
      font-size: 2em;
    color: #EFA52C;
    text-transform: none;
    margin-top: 0.7em;
	
}
.test-review p {
    font-size: 1em;
    font-weight: 400;
    line-height: 2em;
    margin: 2em 1em;
}
.test-review img{
	 border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	    box-shadow:0 10px 20px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow:0 10px 20px rgba(0, 0, 0, 0.41);
    -moz-box-shadow:0 10px 20px rgba(0, 0, 0, 0.41);
    -o-box-shadow:0 10px 20px rgba(0, 0, 0, 0.41);
    -ms-box-shadow:0 10px 20px rgba(0, 0, 0, 0.41);
}
.test-review p img {
    margin: 0 10px!important;
	box-shadow:none;
}
.test-review img {
    margin: 0 auto;
}
.test-monials {
    text-align: center;
	float:right;
	margin-top:8em;
}
.test-left-img{
	background: url(../images/banner.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height:700px;
}
/*--//review--*/
#gallery {
    padding: 6em 0;
    text-align: center;
}
.gallery-grids {
    margin-top: 3em;
}
.ban-mar {
    margin: 35px 0;
}
.baner-top a {
    padding: 10px 10px;
    display: block;
    box-shadow: 0px 0px 9px #BDBDBD;
}
.baner-top img {
    width: 100%;
}
.img-box-content, .gal-text-box {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.img-box-content img, .gal-text-box img {
  display: block;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.img-box-content {
  position: relative;
}
.gal-text-box {
  top: 0;
  left: 0;
  position: absolute;
}
.gal-text-box .info-gal-con {
  display: block;
  position: relative;
  padding: 2%;
  left: 50%;
  top: 50%;
  position: relative;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.separator {
  display: block;
  position: relative;
  height: 1px;
  width: 60%;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.5);
  clear: both;
}


.gal-spin-effect {
  display: block;
  overflow: hidden;
  position: relative;

}
.gal-spin-effect .gal-text-box {
  filter: alpha(opacity=0);
  -wekbit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transform: translateZ(0) scale(2, 2);
  -moz-transform: translateZ(0) scale(2, 2);
  -ms-transform: translateZ(0) scale(2, 2);
  -o-transform: translateZ(0) scale(2, 2);
  transform: translateZ(0) scale(2, 2);
  color: #e6e6e6;
}
.gal-spin-effect .gal-text-box * {
  z-index: 3;
}
.gal-spin-effect .gal-text-box:after, .gal-spin-effect .gal-text-box:before {
  content: "";
  display: block !important;
  position: absolute;
  visibility: visible !important;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: 0.6s ease-in-out;
  -moz-transition: 0.6s ease-in-out;
  -ms-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}
.gal-spin-effect.vertical .gal-text-box:before {
  -webkit-transform: translateZ(0) translateX(100%) rotateZ(180deg);
  -moz-transform: translateZ(0) translateX(100%) rotateZ(180deg);
  -ms-transform: translateZ(0) translateX(100%) rotateZ(180deg);
  -o-transform: translateZ(0) translateX(100%) rotateZ(180deg);
  transform: translateZ(0) translateX(100%) rotateZ(180deg);
}
.gal-spin-effect.vertical .gal-text-box:after {
  -webkit-transform: translateZ(0) translateX(-100%) rotateZ(180deg);
  -moz-transform: translateZ(0) translateX(-100%) rotateZ(180deg);
  -ms-transform: translateZ(0) translateX(-100%) rotateZ(180deg);
  -o-transform: translateZ(0) translateX(-100%) rotateZ(180deg);
  transform: translateZ(0) translateX(-100%) rotateZ(180deg);
}
.gal-spin-effect.vertical:hover .gal-text-box {
  filter: alpha(opacity=100);
  -wekbit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transform: translateZ(0) scale(1, 1);
  -moz-transform: translateZ(0) scale(1, 1);
  -ms-transform: translateZ(0) scale(1, 1);
  -o-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0) scale(1, 1);
}
.gal-spin-effect.vertical:hover .gal-text-box:before {
  -webkit-transform: translateZ(0) translateX(50%) rotateZ(0deg);
  -moz-transform: translateZ(0) translateX(50%) rotateZ(0deg);
  -ms-transform: translateZ(0) translateX(50%) rotateZ(0deg);
  -o-transform: translateZ(0) translateX(50%) rotateZ(0deg);
  transform: translateZ(0) translateX(50%) rotateZ(0deg);
}
.gal-spin-effect.vertical:hover .gal-text-box:after {
  -webkit-transform: translateZ(0) translateX(-50%) rotateZ(0deg);
  -moz-transform: translateZ(0) translateX(-50%) rotateZ(0deg);
  -ms-transform: translateZ(0) translateX(-50%) rotateZ(0deg);
  -o-transform: translateZ(0) translateX(-50%) rotateZ(0deg);
  transform: translateZ(0) translateX(-50%) rotateZ(0deg);
}
.gal-spin-effect.horizontal .gal-text-box:before {
  -webkit-transform: translateZ(0) translateY(100%) rotateZ(180deg);
  -moz-transform: translateZ(0) translateY(100%) rotateZ(180deg);
  -ms-transform: translateZ(0) translateY(100%) rotateZ(180deg);
  -o-transform: translateZ(0) translateY(100%) rotateZ(180deg);
  transform: translateZ(0) translateY(100%) rotateZ(180deg);
}
.gal-spin-effect.horizontal .gal-text-box:after {
  -webkit-transform: translateZ(0) translateY(-100%) rotateZ(180deg);
  -moz-transform: translateZ(0) translateY(-100%) rotateZ(180deg);
  -ms-transform: translateZ(0) translateY(-100%) rotateZ(180deg);
  -o-transform: translateZ(0) translateY(-100%) rotateZ(180deg);
  transform: translateZ(0) translateY(-100%) rotateZ(180deg);
}
.gal-spin-effect.horizontal:hover .gal-text-box {
  filter: alpha(opacity=100);
  -wekbit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transform: translateZ(0) scale(1, 1);
  -moz-transform: translateZ(0) scale(1, 1);
  -ms-transform: translateZ(0) scale(1, 1);
  -o-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0) scale(1, 1);
}
.gal-spin-effect.horizontal:hover .gal-text-box:before {
  -webkit-transform: translateZ(0) translateY(50%) rotateZ(0deg);
  -moz-transform: translateZ(0) translateY(50%) rotateZ(0deg);
  -ms-transform: translateZ(0) translateY(50%) rotateZ(0deg);
  -o-transform: translateZ(0) translateY(50%) rotateZ(0deg);
  transform: translateZ(0) translateY(50%) rotateZ(0deg);
}
.gal-spin-effect.horizontal:hover .gal-text-box:after {
  -webkit-transform: translateZ(0) translateY(-50%) rotateZ(0deg);
  -moz-transform: translateZ(0) translateY(-50%) rotateZ(0deg);
  -ms-transform: translateZ(0) translateY(-50%) rotateZ(0deg);
  -o-transform: translateZ(0) translateY(-50%) rotateZ(0deg);
  transform: translateZ(0) translateY(-50%) rotateZ(0deg);
}
.info-gal-con h4 {
    font-size:45px;
    margin-bottom: 30px;
    color: #efa52c;
}
.info-gal-con p {
    font-size: 14px;
    line-height: 2.2em;
}
/*--bottom-*/
.bottom{
  background: url("../images/bottom.jpg") no-repeat 0px 0px;
  padding: 0em 0 0 0;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -webkit-background-size: cover;
  min-height:540px;
}
.bottom-top{
  text-align:center;
  padding-top:8em;
}
.bottom-top h3 {
    color:#EFA52C;
    font-size: 3.5em;
    font-weight:bold;
}
.bottom-top p {
    font-size: 1em;
    color: #fff;
    line-height: 1.9em;
    margin: 1em auto;
    width: 61%;
}
a.read.two {
    padding: 0.7em 2em;
    background: rgb(1, 23, 80);
}
h2.sec-head {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
       font-size: 3em;
    padding-top: 2em;
}
.bottom-top  span {
   color: #fff;
    font-size: 3em;
    font-weight: bold;
}
/*--social-icons--*/
/*--reservation--*/
#reservation {
    background: url(../images/Hab11-4.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height:750px;
	text-align:center;
}
.reservation-info {
    margin-top: 8em;
}
.book-reservation {
    margin-top: 4em;
}
h3.tittle.reserve {
 color: #EFA52C;

}
.reservation-info h4 {
    font-size: 3em;
    color: #800000;
    line-height: 1.6em;
}
.reservation-info h5 {
    font-size: 2em;
    color: #fff;
    line-height: 1.8em;
}
.reservation-info h5 span.glyphicon {
    font-size: 0.8em;
    vertical-align: middle;
}
.book-reservation label {
       font-size: 1.5em;
    color: #fff;
    margin-bottom: 1em;
    text-align: left;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
}
.book-reservation label i{   
     font-size: 0.9em;
    margin-right: 10px;
	color: #EFA52C;

}
.book-reservation input[type="text"],.book-reservation input[type="date"],.book-reservation input[type="time"] {
    width: 100%;
    color:#EFA52C;
    outline: none;
    font-size: 1em;
    padding:1em 1em;
   border: 2px solid #fff;
    -webkit-appearance: none;
    margin-bottom: 1.5em;
	line-height: 1.8em;
	font-family: 'Merriweather Sans', sans-serif;
	background:none;
}
.book-reservation select.form-control {
       outline: none;
    font-size: 1em;
    padding: 1em 1em;
    border-radius: 0;
    height: 66px;
    background: none;
    color:#EFA52C;
    border: 2px solid #fff;
}
.make {
    margin: 1em auto 0;
    text-align: center;
}
.make input[type=submit] {
       color: #FFFFFF;
    padding: 1em 2em;
    font-size: 1.2em;
    cursor: pointer;
    border: 2px solid #EFA52C;
    outline: none;
    background:#EFA52C;
    font-family: 'Merriweather Sans', sans-serif;
}
.make input[type=submit]:hover {
    background: none;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
.arrows-reserve{
	    position:relative;
		color:#EFA52C;
		font-size:2em;
}
.arrows-reserve:before{
    content: '';
    position: absolute;
    bottom: 43%;
    left: 35.5%;
    background: #fff;
    width: 11%;
    height: 3px;
}
.arrows-reserve:after{
     content: '';
    position: absolute;
  bottom: 43%;
    right: 35.5%;
    background: #fff;
        width: 11%;
    height: 3px;
}
/*--//reservation--*/
/*--single--*/
.banner.two {
    background: url(../images/banner.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height:300px;
    position: relative;
}
h3.single {
    text-align: center;
    color: #333;
    font-size: 4em;
	margin-bottom:0.7em;
}
.single-img p {
    color: #777;
    line-height: 1.9em;
	font-size:1em;
}
.blog-poast-info {
   background: #ea4c89;
  padding: 0.8em 1em;
  text-align: center;
}
.blog-poast-info ul li {
	display:inline-table;
	margin-right: 1em;
}
.blog-poast-info ul li{
	color: #FFF;
	font-size:0.8125em;
}
.blog-poast-info ul li a {
	color: #FFF;
	text-transform: uppercase;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.blog-poast-info ul li a:hover{
	text-decoration:none;
}
.blog-poast-info ul li a:hover {
	text-decoration:underline;
}
.single {
  text-align: left;
}
.leave h4,h4.tz-title-4.tzcolor-blue {
    color: #efa52c;
    font-size: 4em;
    font-weight: 400;
    margin-top: 0.5em;
}
.comment-box {
  padding: 2em 2em;
  border: 1px dashed #E64B50;
  text-align: center;
  margin-top:3em;
 }
 .comment-box h5 { 
   color:#E64B50;
    font-size: 1.3em;
 }
#commentform label {
   display: block;
  font-size: 1em;
  color: #777;
  font-weight: 400;
  margin: 0.5em 0
}
#commentform input[type="text"] {
  padding: 14px 15px;
  width: 100%;
  color: #555;
  font-size: 1em;
  border: 1px solid #eee;
  outline: none;
  display: block;
}
#commentform textarea {
	  padding: 13px 20px;
  width: 100%;
  color: #444;
  font-size: 0.85em;
  outline: none;
  height: 150px;
  display: block;
  resize: none;
  font-weight: 400;
  border: 1px solid #eee;
  background: #fff;
}
p.form-submit {
  margin: 2em 0;
}
#commentform input[type="submit"] {
  padding: 0.8em 3em;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-appearance: none;
  background:#333;
  outline: none;
  border: none;
}
#commentform input[type="submit"]:hover{
    background:#efa52c;
}
span.m_14 {
     color:#efa52c;
    font-weight: 400;
    text-transform: capitalize;
    font-size:0.9em;
}
.single_grid2 p {
	  color: #777;
	  font-size:1em;
	  line-height: 1.9em;    
	  margin-top: 0.5em;
  }
.title a{
        color: #333;
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
 }
 ul.list li {
  list-style: none;
}
ul.list {
  padding-top: 2em;
}
.preview img {
  border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  width: 80%;
}
 h5.m_26 a{
     float: right;
        font-family: 'Merriweather Sans', sans-serif;
    margin-top: 1em;
    padding: 1em 2em;
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-appearance: none;
    background: #efa52c;
    line-height: 13px;
}
a.blog-text {
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: bold;
    line-height: 2.2em;
    color: #333;
}
.single-us input[type="text"],.leave textarea,.leave input[type="submit"]{
	font-size: 1em;
	  width: 100%;
	padding: 0.8em 1em;
	margin: 0.5em 0;
	background: #fff;
	outline:none;
	border: 1px solid #362f2f;
	color: #362f2f;
	-webkit-appearance: none;
}
p.post {
    color: #333;
}
.blog-single h3 {
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 2em;
    font-size: 1.5em;
}
p.post a {
    color: #efa52c;
}
.leave textarea{
	resize:none;
	width: 100%;
	margin: 0.5em 0em;
	height: 185px;	
}
.leave input[type="submit"]{
	  border: none;
  outline: none;
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  padding: 2px 0 0 1px;
  width: 120px;
  height: 45px;
  display: inline-block;
  background: #333;
  margin: 0 auto;
  margin:1em 0 2em 0;
  -webkit-appearance: none;
}
.leave input[type="submit"]:hover{
	  background:#D00030;
}
.leave p{
  width: 80%;
  line-height: 1.8em;
  color: #333;
  font-size: 0.9em;
}
.text-in{
	padding:0;
}
.single-grid {
	padding: 0.7em 0;
	  text-align: left;
}
.text-top{
	padding:0.5em 0;
}
.leave {
  padding: 2em 0 0em;
}
.top-comments {
	padding: 5em 0 0;
}
.md-col-in h4 {
	color: #362f2f;
	font-size: 1.5em;
	border-bottom: 1px solid #c29f00;
	font-weight: 600;
	width: 50%;
	padding: 0 10px 6px;
}
.md-col-in ul li{
	list-style:none;
}
.md-col-in ul{
	padding:1.8em 0 0;
}
.md-col-in ul li a{
	text-decoration:none;
	color:#362f2f;
	font-size:1.1em;
	padding: 0.1em 0;
	display: block;
}
.md-col-in ul li a:hover{
	color:#c3a000;
}
.md-col-in ul li i{
	background: url(../images/img-sprite.png)no-repeat -497px -20px;
	width: 8px;
	height: 8px;
	display: inline-block;
	transition: 0.5s all;
	vertical-align: middle;
	margin: 0 13px 0 0;
}
.single-img img {
    margin-bottom: 1em;
    width: 100%;
}
.blog-section {
    padding: 6em 0;
}
/*-- contact-page --*/
h3.tittle {
    font-size: 5em;
    color: #333;
}
.arrows-three{
	    position:relative;
		color:#EFA52C;
		font-size:2em;
}
.arrows-three:before{
      content: '';
    position: absolute;
    bottom:43%;
    left: 22.5%;
    background: #333;
    width: 22%;
    height: 3px;
}
.arrows-three:after{
     content: '';
    position: absolute;
  bottom: 43%;
    right: 22.5%;
    background: #333;
     width: 22%;
    height: 3px;
}
.contact-grid {
    padding-left:0;
	text-align: center;
}
form#filldetails {
  width:98%;
  margin: 0 auto;
}
form .field {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}
form .field label {
    position: absolute;
    top: 0;
    left: 0;
    background:#333;
    width: 100%;
    padding: 16px 0;
    font-size: 15px;
    letter-spacing: 0.075em;
    color: #EAEAEA;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
	    font-weight: 400;
}
form .field label + span {
    opacity: 0;
    color: white;
    display: block;
    position: absolute;
    top: 7px;
    left: 4%;
    font-size: 25px;
    text-shadow: 1px 2px 0 #cd6302;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
}
form .field input[type="text"],
form .field textarea {
  border: none;
  background: #E8E9EA;
  width: 100%;
  margin: 0;
  padding: 18px 0;
  padding-left: 22%;
  color: #313A3D;
  font-size: 13px;
  letter-spacing: 0.05em;
      font-family: 'Merriweather Sans', sans-serif;
}
form .field input[type="text"]#msg,
form .field textarea#msg {
  resize: none;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
      font-family: 'Merriweather Sans', sans-serif;
	      height: 55px;
    overflow: hidden;

}
form .field input[type="text"]:focus, form .field input[type="text"].focused,
form .field textarea:focus,
form .field textarea.focused {
  outline: none;
}
form .field input[type="text"]:focus#msg, form .field input[type="text"].focused#msg,
form .field textarea:focus#msg,
form .field textarea.focused#msg {
  padding-bottom: 150px;
}
form .field input[type="text"]:focus + label, form .field input[type="text"].focused + label,
form .field textarea:focus + label,
form .field textarea.focused + label {
  width: 18%;
  background: #efa52c;
  color: #fff;
}
form .field input[type="text"].focused + label,
form .field textarea.focused + label {
  color: #efa52c;
}
form .field:hover label {
  width: 20%;
  background:#efa52c;
  color: white;
}
form input[type="submit"]:focus {
  outline: none;
  background: #cd6302;
}
.send {
    margin-top:2em;
}
.send input[type="submit"]{
       border: none;
    background: #EFA52C;
    cursor: pointer;
    border-radius: 0px;
    width: 155px;
    color: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
     padding: 1em 1em;
	font-size:1em;
	outline:none;
	-webkit-appearance:none;
}
.send input[type="submit"]:hover {
	  -webkit-transform: translateY(-3px);
	  -ms-transform: translateY(-3px);
	  transform: translateY(-3px);
	  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
	  -webkit-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
	   -o-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
	    -moz-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}

.map {
   margin-top: 4em;
}
.map iframe {
    height: 400px;
    border: none;
    width: 100%;
}
.con-top ul li,.con-top ul li a {
    display: block;
    line-height: 2em;
    font-size: 1em;
    color: #777;
	list-style:none;
}
.con-top ul li a {
  color: #efa52c;
  text-decoration:none;
}
.con-top {
    margin-top: 2em;
	    margin-top: 2em;
    float: left;
}
.con-top.two {
    margin-left: 3em;
}
#contact {
    padding: 6em 0;
}
.con-top h4 ,h4.info{
        font-size: 1.4em;
    color: #efa52c;
    font-weight: bold;
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
	margin-bottom: 0.5em;
}
h4.info{
	font-size:2em;
}
p.para1,p.wel-text {
    color: #777;
    font-size: 1em;
    line-height: 1.9em;
}
p.wel-text{
	margin:1em 0;
}
.contact-in {
    margin-top: 4em;
}
/*--footer--*/
/*--social-icons--*/
.logo2{
  text-align:center;
      margin: 0 0 2em 0;
}
.logo2 a{
 display:block;
}
.logo2 a h2 {
    font-weight: bold;
    font-size: 5.5em;
    color: #EFA52C;
    text-transform: uppercase;
}
.logo2 a span {
    color: #fff;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 0.3em;
    font-weight: bold;
}
a.flag_tag2 {
    color: #fff;
    font-size: 1.2em;
}
.logo2 p {
    font-size: 0.8em;
    color: #EFA52C;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 0;
    margin: -9px 0 12px 0;
}
ul.s_social li{
	display:inline-block;
}
ul.social li a.tw,ul.social li a.fb,ul.social li a.in,ul.social li a.dott {
	width:79px;
	height:89px;
	display: block;
	background: url(../images/tw.png)no-repeat 0px 0px;
}
ul.social li a.fb {
	background: url(../images/fb.png)no-repeat 0px 0px;
}
ul.social li a.in {
	background: url(../images/gg.png)no-repeat 0px 0px;
}
ul.social li a.dott {
  background: url(../images/db.png)no-repeat 0px 0px;
}

ul.social li a:hover{
	opacity:0.8;
}
ul.social{
	    display: block;
    padding: 0;
    margin: 3em auto 0;
    text-align: center;
}
ul.social li{
	display:inline-block;
}
ul.social li a{  
    margin-right:1em;
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
	-webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
}
.footer {
   background:#333;
   padding: 2em 0;
}
p.copy-right{
  color:#fff;
  font-size:0.9em;
    text-align: center;
}
p.copy-right a{
   color: #EFA52C;
}
p.copy-right a:hover{
  text-decoration:underline;
}
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
  width: 40px;
  height: 22px;
  border: none;
  text-indent: 100%;
  background: url(../images/move-top.png) no-repeat 0px 0px;
}
/*-- responsive-design starts-here --*/
@media (max-width: 1440px) {
	.banner-info p {
		font-size: 3em;
	}
}
@media (max-width: 1366px) {
	.ab-text p,.services-gd p,.test-review p,.bottom-top p,p.wel-text,p.para1,.con-top ul li, .con-top ul li ,.single-img p{
		font-size:0.9em;
	}
	
	h3.tittle,h3.single {
		font-size: 4.5em;
	}
	
	
}
@media (max-width:1280px) {
	#about,#team,#gallery,#contact,.blog-section{
		    padding:5em 0;
	}
	#services{
		 padding:6em 0;
	}
	.info-gal-con h4 {
		font-size: 45px;
		margin-bottom: 14px;
	}
}
@media (max-width:1024px) {
	.link-effect-4 a {
		padding: 0 10px;
		margin: 0 8px;
	}
	.banner-info p {
		font-size: 2.5em;
	}
	.banner-info h3 {
       font-size: 4em;
	}
	.banner-info {
		padding: 4em 2em;
		z-index: 999;
		margin: 11% auto 0;
		width: 54%;
	}
	.arrows:before {
		content: '';
		position: absolute;
		bottom: 45%;
		left: 19.5%;
		width: 22%;
		height: 3px;
	}
	.bottom-top p {
		margin: 1em auto;
		width: 65%;
	}
	.arrows:after {
		content: '';
		position: absolute;
		bottom: 45%;
		right: 19.5%;
		width: 22%;
		height: 3px;
	}
	.callbacks_tabs {
		bottom: -10%;
		left: 45%;
	}
	.banner {
      min-height:700px;
	}
	.down {
		position: absolute;
		left: 43%;
		    top: 87%;
	}
	.services-gd h4 {
      font-size: 1.2em;
	}
	.view {
		width: 212px;
		    height: 307px;
	}
	.view-fifth h4 {
      font-size: 16px;
	}
	.view .mask, .view .content{
		    width: 233px;
    height: 330px;
		
	}
	.s-1 h3, .s-2 h3, .s-3 h3, .s-1 h3, .s-2 h3, .s-4 h3 {
		font-size: 1.3em;
		padding-top: 17em;
	}
	.view p {
		font-size: 0.8em;
		padding: 10px 10px 0px 20px;
	}
	.test-monials {
		text-align: center;
		float: right;
		margin-top: 6em;
		padding: 0;
	}
	.arrows-serve:before {
		content: '';
		position: absolute;
		bottom: 43%;
		left: 29.5%;
		width: 13%;
		height: 3px;
	}
	.arrows-serve:after {
		content: '';
		position: absolute;
		bottom: 43%;
		right: 29.5%;
		width: 13%;
		height: 3px;
	}
	.arrows-three:before {
		content: '';
		position: absolute;
		bottom: 43%;
		left: 23.5%;
		width: 18%;
		height: 3px;
	}
	.arrows-three:after {
		content: '';
		position: absolute;
		bottom: 43%;
		right: 22.5%;
		width: 18%;
		height: 3px;
	}
	.con-top.two {
		margin-left: 1em;
	}
	.contact-in {
		margin-top: 4em;
		padding: 0;
	}
	.banner.two {
		min-height: 200px;
	}
	figure.effect-jazz h4 {
    padding-top: 29%;
	}
	.arrows-serve.test:before {
		content: '';
		position: absolute;
		bottom: 43%;
		left: 32.5%;
		width: 9%;
		height: 3px;
	}
	.arrows-serve.test:after {
		content: '';
		position: absolute;
		bottom: 43%;
		right: 32.5%;
		width: 9%;
		height: 3px;
	}
	.view h4 {
      padding: 18px 10px;
	}
	.grid figure figcaption {
      padding: 2em 0;
	}
	.arrows-reserve:before {
		content: '';
		position: absolute;
		bottom: 43%;
		left: 31.5%;
		background: #fff;
		width: 11%;
		height: 3px;
	}
	.arrows-reserve:after {
		content: '';
		position: absolute;
		bottom: 43%;
		right: 31.5%;
		background: #fff;
		width: 11%;
		height: 3px;
	}
}
@media (max-width:991px) {
	.top-menu li a {
		font-size: 0.87em;
	}
	.top-menu {
		margin-top: 1.5em;
	}
	.link-effect-4 a {
		padding: 0 10px;
		margin: 0 3px;
	}
	.s-1,.s-2,.s-3,.s-4 {
		float: left;
		width:50%;
	}
	.view {
	    width: 301px;
    height: 325px;
    margin: 0 2em;
	}
	.view p {
		font-size: 0.8em;
		padding: 21px 0px 0px 40px;
	}
	.view-fifth img {
		width: 100%;
	}
	.view .mask, .view .content {
		width: 341px;
		height: 325px;
		    left: -41px;
	}
	.test-left-img {
		min-height: 500px;
	}
	.test-monials {
		text-align: center;
		float: none;
		margin-top: 0;
		padding: 0;
		width: 100%;
		padding: 5em 0;
	}
	.reservation-info {
		margin-top: 3em;
	}
	.book-reservation {
		margin-top:0em;
	}
	#reservation {
		min-height:750px;
		padding-bottom: 3em;
	}
	.book-reservation label {
       font-size: 1.3em;
	}
	.book-reservation select.form-control {
		font-size: 1em;
		padding: 1em 1em;
		height: 66px;
		background: none;
		margin-bottom: 1.5em;
	}
	.baner-top {
	    padding: 10px 10px;
		float: left;
		width: 50%;
	}
	.ban-mar {
		margin:0px!important;
	}
	.bottom-top span {
      font-size: 2.5em;
	}
	.contact-in {
		margin-top: 4em;
		padding: 0 10px;
	}
	.con-top.two {
		margin-left: 5em;
	}
	.down {
		position: absolute;
		left: 43%;
		top: 90%;
	}
	.banner-info p {
		font-size: 2.3em;
	}
	.services-gd{
		float: left;
		width: 50%;
	}
	.services-gd:nth-child(3),.services-gd:nth-child(4),.s-3,.s-4{
		margin-top:1em;
	}
	.ab-text {
		text-align: center;
		margin-top:0em;
	}
	.ab-left {
		float: none;
	}
	.ab-text {
		margin-top: 2em;
	}
	.preview {
		float: left;
	}
	.single_grid2 p {
		font-size: 0.9em;
		line-height: 1.9em;
		margin-top: 0.5em;
	}
	.data {
		float: right;
		width: 86%;
	}
	.logo a h1 {
    font-weight: bold;
    font-size: 4em;
	}
}
@media (max-width:800px) {
	.banner-info {
		padding: 4em 2em;
		margin: 11% auto 0;
		width: 71%;
	}
	.logo a h1 {

      font-size: 4em;
	}
	a.blog-text {
      font-size: 1.4em;
	}
	.down {
		position: absolute;
		left: 42%;
		top: 90%;
	}

	.data {
		float: right;
		width: 86%;
	}
	.view {
		width: 282px;
		height: 325px;
		margin: 0 1em;
	}
	.view p {
		font-size: 0.8em;
		padding: 10px 53px 0px 60px;
		text-align: center;
	}
	.view h4 {
		padding: 18px 35px;
	}
}
@media (max-width:768px) {
	.top-menu ul {
		margin: 103px 0;
		padding: 2% 0;
		width: 96%;
		z-index: 99999;
	}
	.banner {
		min-height: 600px;
	}
	.banner-info {
		padding: 2em 2em;
		margin: 13% auto 0;
		width: 71%;
	}
	#about, #team, #gallery, #contact, .blog-section,.test-monials {
		padding: 3.5em 0;
	}
	#services {
		padding: 4em 0;
	}
	.test-left-img {
		min-height: 400px;
	}
	h3.single {
		margin-bottom: 0.5em;
	}
	.blog-single h3 {

		line-height: 2em;
		font-size: 1.3em;
	}
}
@media (max-width:667px) {
	.banner-info p {
		font-size: 2em;
	}
	.banner-info h3 {
		font-size: 3em;
	}
	.logo a h1 {
		font-size: 4em;
	}
	.banner-info span {
		letter-spacing: 2px;
		font-size: 0.9em;
	}
	.banner {
		min-height: 500px;
	}
	.banner-info {
		padding: 2em 2em;
		margin: 6% auto 0;
		width: 71%;
	}
	.callbacks_tabs {
		bottom: -14%;
		left: 43%;
	}
	.down {
		position: absolute;
		left: 38%;
		top: 90%;
	}
	.view {
		width: 256px;
		height: 330px;
		margin: 0 0em;
	}
	.test-left-img {
		min-height: 350px;
	}
	.info-gal-con p {
		font-size: 12px;
		line-height: 2em;
	}
	.info-gal-con h4 {
		font-size: 38px;
		margin-bottom: 14px;
	}
	.callbacks_tabs a:after {
		height: 12px;
		width: 12px;
	}
	.callbacks_tabs li {
		display: inline-block;
		margin: 0 .2em;
	}
	.grid figure figcaption {
		padding: 0em 1em;
		color: #fff;
		font-size: 1.25em;
	}
	.arrows-reserve:before {
		bottom: 43%;
		left: 32.5%;
		width: 11%;
		height: 3px;
	}
	.arrows-reserve:after {
		content: '';
		position: absolute;
		bottom: 43%;
		right: 31.5%;
		width: 11%;
		height: 3px;
	}
	.make input[type=submit] {
		padding: 0.7em 1.5em;
		font-size: 1.2em;
	}
	.book-reservation input[type="text"], .book-reservation input[type="date"], .book-reservation input[type="time"] {
		width: 100%;
		outline: none;
		font-size: 1em;
		padding: 0.7em 0.8em;
	}
	.book-reservation select.form-control {
		font-size: 1em;
		padding: 0.7em 0.8em;
		height: 54px;
		background: none;
		margin-bottom: 1.5em;
	}
	.bottom-top span {
		font-size: 2.2em;
	}
	.bottom-top h3 {
		font-size: 3em;
	}
	.bottom {
		min-height:450px;
	}
	.bottom-top {
		padding-top: 5em;
	}
	.bottom-top p {
		margin: 1em auto;
		width: 100%;
	}
	a.blog-text {
		font-size: 1.2em;
	}
	.leave h4, h4.tz-title-4.tzcolor-blue {
		font-size: 3.5em;
		font-weight: 400;
		margin-top: 0em;
	}
	.data {
		float: right;
		width: 83%;
	}
}
@media (max-width:640px) {
	.banner-info p {
		font-size: 2em;
	}
	.banner-info h3 {
		font-size: 3em;
	}
	.logo a h1 {
		font-size: 3.3em;
	}
	.banner-info span {
		letter-spacing: 2px;
		font-size: 0.8em;
	}
	.banner {
		min-height: 500px;
	}
	.banner-info {
		padding: 2em 2em;
		margin: 6% auto 0;
		width: 71%;
	}
	.callbacks_tabs {
		bottom: -14%;
		left: 43%;
	}
	.down {
		position: absolute;
		left: 38%;
		top: 90%;
	}
	.view {
		width: 256px;
		height: 330px;
		margin: 0 0em;
	}
	.test-left-img {
		min-height: 350px;
	}
	.info-gal-con p {
		font-size: 12px;
		line-height: 2em;
	}
	.info-gal-con h4 {
		font-size: 38px;
		margin-bottom: 14px;
	}
	.callbacks_tabs a:after {
		height: 12px;
		width: 12px;
	}
	.callbacks_tabs li {
		display: inline-block;
		margin: 0 .2em;
	}
	.grid figure figcaption {
		padding: 0em 1em;
		color: #fff;
		font-size: 1.25em;
	}
	.arrows-reserve:before {
		bottom: 43%;
		left: 32.5%;
		width: 11%;
		height: 3px;
	}
	.arrows-reserve:after {
		content: '';
		position: absolute;
		bottom: 43%;
		right: 31.5%;
		width: 11%;
		height: 3px;
	}
	.make input[type=submit] {
		padding: 0.7em 1.5em;
		font-size: 1.2em;
	}
	.book-reservation input[type="text"], .book-reservation input[type="date"], .book-reservation input[type="time"] {
		width: 100%;
		outline: none;
		font-size: 1em;
		padding: 0.7em 0.8em;
	}
	.book-reservation select.form-control {
		font-size: 1em;
		padding: 0.7em 0.8em;
		height: 54px;
		background: none;
		margin-bottom: 1.5em;
	}
	.bottom-top span {
		font-size: 2.2em;
	}
	.bottom-top h3 {
		font-size: 3em;
	}
	.bottom {
		min-height:450px;
	}
	.bottom-top {
		padding-top: 5em;
	}
	.bottom-top p {
		margin: 1em auto;
		width: 100%;
	}
	a.blog-text {
		font-size: 1.2em;
	}
	.leave h4, h4.tz-title-4.tzcolor-blue {
		font-size: 3.5em;
		font-weight: 400;
		margin-top: 0em;
	}
	.data {
		float: right;
		width: 83%;
	}
}
@media (max-width:600px) {
	.data {
		float: right;
		width: 74%;
		padding: 0;
	}
	.logo p {
		font-size: 0.7em;
		text-transform: uppercase;
		letter-spacing: 0px;
	}
	.logo a h1 {
		font-size: 4em;
	}
	.map iframe {
      height: 300px;
	}
	.social-icons li a {
		margin-right: 1em;
	}
	.logo2 a h2 {
		font-weight: bold;
		font-size: 4em;
	}
	a.flag_tag2 {
		font-size: 1em;
	}
	p.copy-right {
		font-size: 0.9em;
		line-height: 1.9em;
	}
	.top-menu ul {
		margin: 83px 0;
		padding: 2% 0;
		width: 93%;
		z-index: 99999;
	}
	h3.tittle, h3.single {
		font-size: 4em;
	}
	.s-1, .s-2, .s-3, .s-4 {
		float: left;
		width: 100%;
	}
	.view {
		width: 256px;
		height: 330px;
		    margin: 0 8em;
	}
	.services-gd:nth-child(3), .services-gd:nth-child(4),.s-1, .s-2 .s-3, .s-4 {
		margin-top: 1em;
	}
	.banner-info p {
		font-size: 1.6em;
	}
	.banner-info h3 {
		font-size: 2.5em;
	}
	.banner-info {
		padding: 2em 1em;
		margin: 4% auto 0;
		width: 82%;
	}
	.banner {
		min-height: 432px;
	}
	.down {
		position: absolute;
		left: 36%;
		top: 90%;
	}
	figure.effect-jazz p {
		padding: 0em 0em;
		text-transform: none;
		font-size: 0.6em;
		opacity: 0;
		line-height: 1.8em;
	}
	figure.effect-jazz h4 {
		padding-top:50%;
		font-size: 1.7em;
	}
	.arrows:before {
		content: '';
		position: absolute;
		bottom: 45%;
		left: 16.5%;
		width: 22%;
		height: 3px;
	}
	.arrows:after {
		content: '';
		position: absolute;
		bottom: 45%;
		right: 15.5%;
		width: 22%;
		height: 3px;
	}
	.test-left-img {
		min-height: 250px;
	}
	.book-reservation label {
		font-size: 1em;
	}
	#reservation {
		min-height: 681px;
		padding-bottom: 0em;
	}
	.baner-top {
		padding:8px 10px;
		float: left;
		width: 100%;
	}
	h4.info {
		font-size: 1.6em;
	}
	.con-top h4, h4.info {
      font-size: 1.2em;
	}
	.con-top.two {
		margin-left: 0em;
	}
}
@media (max-width:568px) {
	.logo a h1 {
		font-size: 4em;
	}
	
	.social-icons li a {
		margin-right: 1em;
	}
	.logo2 a h2 {
		font-weight: bold;
		font-size: 4em;
	}
	a.flag_tag2 {
		font-size: 1em;
	}
	p.copy-right {
		font-size: 0.9em;
		line-height: 1.9em;
	}
	.top-menu ul {
		margin: 83px 0;
		padding: 2% 0;
		width: 93%;
	}
	h3.tittle, h3.single {
		font-size: 4em;
	}
	.s-1, .s-2, .s-3, .s-4 {
		float: left;
		width: 100%;
	}
	.view {
		width: 256px;
		height: 330px;
		margin: 0 4em;
	}
	.services-gd:nth-child(3), .services-gd:nth-child(4),.s-1, .s-2 .s-3, .s-4 {
		margin-top: 1em;
	}
	.banner-info p {
		font-size: 1.6em;
	}
	.banner-info h3 {
		font-size: 2.5em;
	}
	.banner-info {
		padding: 2em 1em;
		margin: 4% auto 0;
		width: 82%;
	}
	.banner {
		min-height: 432px;
	}
	.down {
		position: absolute;
		left: 36%;
		top: 90%;
	}
	figure.effect-jazz p {
		padding: 0em 0em;
		text-transform: none;
		font-size: 0.6em;
		opacity: 0;
		line-height: 1.8em;
	}
	figure.effect-jazz h4 {
		padding-top:50%;
		font-size: 1.7em;
	}
	.arrows:before {
		content: '';
		position: absolute;
		bottom: 45%;
		left: 16.5%;
		width: 22%;
		height: 3px;
	}
	.arrows:after {
		content: '';
		position: absolute;
		bottom: 45%;
		right: 15.5%;
		width: 22%;
		height: 3px;
	}
	.test-left-img {
		min-height: 250px;
	}
	.book-reservation label {
		font-size: 1em;
	}
	#reservation {
		min-height: 681px;
		padding-bottom: 0em;
	}
	.baner-top {
		float: left;
		width: 100%;
	}
	h4.info {
		font-size: 1.6em;
	}
	.con-top h4, h4.info {
      font-size: 1.2em;
	}
	.con-top.two {
		margin-left: 0em;
	}
}
@media (max-width:480px) {
	.logo a h1 {
		font-size: 4em;
	}
	.social-icons li a {
		margin-right: 0em;
	}
	.logo2 a h2 {
		font-weight: bold;
		font-size: 4em;
	}
	a.flag_tag2 {
		font-size: 1em;
	}
	p.copy-right {
		font-size: 0.9em;
		line-height: 1.9em;
	}
	.top-menu ul {
		margin: 83px 0;
		padding: 2% 0;
		width: 93%;
		z-index: 99999;
	}
	h3.tittle, h3.single {
		font-size: 4em;
	}
	.s-1, .s-2, .s-3, .s-4 {
		float: left;
		width: 100%;
		margin-bottom: 1em;
	}
	.s-1, .s-2 .s-3, .s-4 {
		margin-top:0em;
	}
	.view {
		width: 256px;
		    height: 323px;
		margin: 0 4em;
	}
	.services-gd:nth-child(3), .services-gd:nth-child(4){
		margin-top: 1em;
	}
	.banner-info p {
		font-size: 1.6em;
	}
	.banner-info h3 {
		font-size: 2.5em;
	}
	.banner-info {
		padding: 2em 1em;
		margin: 4% auto 0;
		width: 82%;
	}
	ul.social {

    margin: 2em auto 0;
	}
	.banner {
		min-height: 432px;
	}
	.down {
		position: absolute;
		left: 36%;
		top: 90%;
	}
	figure.effect-jazz p {
		padding: 0em 0em;
		text-transform: none;
		font-size: 0.6em;
		opacity: 0;
		line-height: 1.8em;
	}
	figure.effect-jazz h4 {
		padding-top:50%;
		font-size: 1.7em;
	}
	.arrows:before {
		    content: '';
			position: absolute;
			bottom: 45%;
			left: 16.5%;
			width: 19%;
			height: 2px
	}
	.arrows:after {
		content: '';
		position: absolute;
		bottom: 45%;
		right: 16.5%;
		width:19%;
		height:2px;
	}
	.test-left-img {
		min-height: 250px;
	}
	.book-reservation label {
		font-size: 1em;
	}
	#reservation {
		min-height: 681px;
		padding-bottom: 0em;
	}
	.baner-top {
		padding: 8px 10px;
		float: left;
		width: 100%;
	}
	h4.info {
		font-size: 1.6em;
	}
	.con-top h4, h4.info {
      font-size: 1.2em;
	}
	.con-top.two {
		margin-left: 0em;
	}
	span.menu {
		width: 35px;
		height: 35px;
		background: url(../images/nav.png)no-repeat 0px 0px;
		display: inline-block;
		float: right;
		cursor: pointer;
		margin: 19px 3px;
	}
	ul.social-icons {
      margin: 2em auto 0;
	}
	.gallery-grids {
		margin-top: 1em;
	}
	.top-menu {
		margin-top: 0.5em;
	}
	#about, #team, #gallery, #contact, .blog-section, .test-monials,#services {
		padding: 2.5em 0;
	}
	.inst-grids {
		margin: 1em 0 0 0;
	}
	.blog-single h3 {
		line-height: 2em;
		font-size: 1.2em;
	}

	.contact-grid {
		padding-left: 0;
		text-align: center;
		padding: 0;
	}
}
@media (max-width:414px) {
	.h-f {
		margin-bottom: 1em;
	}
	.h-f {
		width: 100%;
		float: left;
		margin-right: 0%;
	}
	figure.effect-jazz p {
		padding: 0em 0em;
		text-transform: none;
		font-size: 0.7em;
	}
	.ab-text p, .services-gd p, .test-review p, .bottom-top p, p.wel-text, p.para1, .con-top ul li, .con-top ul li, .single-img p {
		font-size: 0.875em;
	}
	.s-1, .s-2 .s-3, .s-4 {
		margin-top: 1em;
	}
	.services-gd:nth-child(3), .services-gd:nth-child(4){
		margin:0
	}
	.services-gd {
		float: left;
		width: 100%;
		margin-bottom: 1em;
	}
	.start a {
      padding: 13px 25px;
	}
	.inst-grids,.box2 {
		margin: 1em 0 0 0;
	}
	.view {
		width: 256px;
		height: 330px;
		margin: 0 2em;
	}
	.bottom-top span {
		font-size: 1.6em;
	}
	.bottom-top h3 {
		font-size: 2.2em;
		margin-bottom: 10px;
	}
	h3.tittle, h3.single {
		font-size: 3.5em;
	}
	.start a {
		padding: 11px 20px;
		font-size: 0.85em;
	}
	.arrows-two:before {
		content: '';
		position: absolute;
		bottom: 42%;
		left: 22.5%;
		width: 16%;
		height: 2px;
	}
	.arrows-two:after {
		content: '';
		position: absolute;
		bottom: 42%;
		right: 22.5%;
		width: 15%;
		height: 2px;
	}
	.arrows-serve:before {
		content: '';
		position: absolute;
		bottom: 43%;
		left: 27.5%;
		width: 12%;
		height: 2px;
	}
	.arrows-serve:after {
		content: '';
		position: absolute;
		bottom: 43%;
		right: 26.5%;
		width: 12%;
		height: 2px;
	}
	.arrows-reserve:before {
		bottom: 43%;
		left: 27.5%;
		width: 11%;
		height: 2px;
	}
	.arrows-reserve:after {
		content: '';
		position: absolute;
		bottom: 43%;
		right: 26.5%;
		width: 11%;
		height: 2px;
	}
	a.blog-text {
		font-size: 1.1em;
	}
	.data {
		float: right;
		width: 72%;
		padding: 0;
	}
	h5.m_26 a {
		float: right;
		margin-top: 1em;
		padding: 0.8em 1.5em;
		font-size: 0.9em;
		line-height: 13px;
	}
	#about, #team, #gallery, #contact, .blog-section, .test-monials {
		padding: 2em 0;
	}
	#services {
		padding: 2.5em 0;
	}
	.banner-info p {
		font-size: 1.4em;
	}
	.callbacks_tabs {
		bottom: -14%;
		left: 38%;
	}
	.down {
		position: absolute;
		left: 31%;
		top: 90%;
	}
	.test-monials h5 {
      font-size: 1.5em;
	}
	
	.test-review p {
		margin: 1em 0em;
	}
	
}
@media (max-width:384px) {
	.banner-info p {
		font-size: 1.2em;
	}
	.banner-info h3 {
		font-size: 2em;
	}
	.down {
		position: absolute;
		left: 30%;
		top: 86%;
	}
	.s-3, .s-4{
		margin-top:0;
	}
	.blog-single h3 {
		line-height: 2em;
		font-size: 1em;
	}
	.banner.two {
		min-height: 150px;
	}
	.contact-grid {
		padding-left: 0;
		text-align: center;
		padding: 0;
	}
	form .field label {
    position: absolute;
    top: 0;
    left: 0;
    background: #333;
    width: 100%;
    padding: 18px 0;
    font-size: 13px;
    letter-spacing: 0em;
	}
}
@media (max-width:375px) {
	.banner-info {
		padding: 1em 0em;
		margin: 4% auto 0;
		width: 82%;
	}
	.banner {
		min-height: 300px;
	}
	.banner-info h3 {
		font-size: 1.6em;
	}
	.banner-info p {
		font-size: 1em;
	}
	.arrows {
		font-size: 1em;
	}
	.banner-info span {
		letter-spacing: 1px;
		font-size: 0.6em;
	}
	.logo a h1 {
		font-size: 3em;
	}
	.down img {
		width: 50%;
	}
	
	.callbacks_tabs a:after {
		height:10px;
		width:10px;
	}
	.callbacks_tabs {
		bottom: -19%;
		left: 38%;
	}
	.down {
		position: absolute;
		left: 39%;
		top: 89%;
	}
	div#about {
		padding: 0 0 2em 0;
	}
	.arrows img,.arrows-two img,.arrows-serve img,.arrows-reserve img {
		width: 14%;
	}
	h3.tittle, h3.single {
		font-size: 3em;
	}
	.top-menu ul {
		margin: 68px 0;
		padding: 2% 0;
		width: 89%;
		z-index: 99999;
	}
	.view {
		width: 241px;
		height: 310px;
		margin: 0 2em;
	}
	.s-1 h3, .s-2 h3, .s-3 h3, .s-1 h3, .s-2 h3, .s-4 h3 {
		font-size: 1.2em;
		padding-top: 17em;
	}
	.view p {
		font-size: 0.8em;
    padding: 10px 50px 0px 35px;
	}
	.services-gd h4 {
		font-size: 1em;
	}
	.book-reservation label {
		font-size: 0.9em;
	}
	.make input[type=submit] {
		padding: 0.7em 1.5em;
		font-size: 1em;
	}
	.book-reservation input[type="text"], .book-reservation input[type="date"], .book-reservation input[type="time"] {
		width: 100%;
		outline: none;
		font-size: 0.8em;
		padding: 0.4em 0.8em;
	}
	.book-reservation select.form-control {
		font-size: 0.8em;
		padding: 0.7em 0.8em;
		height: 42px;
		background: none;
		margin-bottom: 1.5em;
	}
	#reservation {
		min-height: 580px;
		padding-bottom: 0em;
	}
	.reservation-info {
		margin-top: 2em;
	}
	.test-left-img {
		min-height: 150px;
	}
	.bottom-top span {
		font-size: 1.4em;
	}
	.bottom-top {
		padding-top: 2em;
	}
	.bottom {
		    min-height: 356px;
	}
	.input__label {
		display: inline-block;
		float: right;
		padding: 0 0.5em;
		font-weight: bold;
		font-size: 0.9em;
	}
	.input--kuro {
		max-width: 91%;
		margin-bottom: 2em;
	}
	.info-gal-con h4 {
		font-size: 30px;
		margin-bottom: 4px;
	}
	.info-gal-con p {
		font-size: 11px;
		line-height: 1.8em;
	}
	.inst-grids, .box2 {
		margin: 0em 0 0 0;
	}
	.social-icons li {
		display: inline-block;
		float: left;
		margin-left: 2px;
	}
	a.flag_tag2 {
		font-size: 0.9em;
	}
	ul.social-icons {
		margin: 1em auto 0;
	}
	.footer {
		padding: 1em 0;
	}
	.leave h4, h4.tz-title-4.tzcolor-blue {
      font-size: 2.5em;
	}
	#commentform label {
		display: block;
		font-size: 0.9em;
	}
	.title a {
		font-size: 1em;
	}
	span.m_14 {
		font-size: 0.8em;
	}
	.preview {
		float: left;
		width: 30%;
		padding: 0;
	}
	.single_grid2 p {
      font-size: 0.875em;
	}
	.data {
		float: right;
		width: 69%;
		padding: 0;
	}
	.logo2 {
		margin: 0 0 1em 0;
	}
	ul.social li {
		display: inline-block;
		float: left;
		width: 11%;
		margin: 0 1em;
	}
	ul.social li a.tw,ul.social li a.fb,ul.social li a.in,ul.social li a.dott {
		    width: 84px;
         height: 54px;
		display: block;
		background: url(../images/tw.png)no-repeat 0px 0px;
		background-size: 57%;
	}
	ul.social li a.fb {
		background: url(../images/fb.png)no-repeat 0px 0px;
		background-size: 57%;
	}
	ul.social li a.in {
		background: url(../images/gg.png)no-repeat 0px 0px;
		background-size: 57%;
	}
	ul.social li a.dott {
	  background: url(../images/db.png)no-repeat 0px 0px;
	  background-size: 57%;
	}
	.header-bottom {
      padding: 0;
	}
	span.menu {
		width: 35px;
		height: 35px;
		background: url(../images/nav.png)no-repeat 0px 0px;
		display: inline-block;
		float: right;
		cursor: pointer;
		margin: 11px 3px;
	}
}
@media (max-width:320px) {
	.view {
		width: 241px;
		height: 310px;
		margin: 0 0em;
	}
	.social-icons li {
		display: inline-block;
		float: left;
	   
		width: 25%;
	}
		p.copy-right {
		font-size: 0.87em;
		line-height: 1.9em;
	}
	.logo2 a h2 {
		font-size: 3em;
	}
	.logo2 p {
		font-size: 0.6em;
		letter-spacing: 1px;
		padding: 0;
		margin: -2px 0 12px 0;
	}
	h3.tittle, h3.single {
		font-size: 2.8em;
		margin-bottom: 0.3em;
	}
	a.blog-text {
		font-size:1em;
	}
	#commentform input[type="submit"] {
		padding: 0.8em 3em;
		font-size: 0.9em;
	}
	.bottom {
		min-height: 407px;
	}
	form .field label {
    position: absolute;
    top: 0;
    left: 0;
    background: #333;
    width: 100%;
    padding: 18px 0;
    font-size: 13px;
    letter-spacing: 0em;
	}
}